In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML

In [2]:
# The path to our CSV file
file = "Resources/purchase_data.csv"

# Read our file data into pandas frame
df = pd.read_csv(file)
df.head().style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Player Count

In [3]:
# Number of players, count unique SN and placed in a dataframe
players = len(df['SN'].unique())
players_df = pd.DataFrame({'Total Players': [len(df.SN.unique())]})
players_df.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Purchasing Analysis (Total)

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

numOfItem = len(df["Item ID"].unique())
averagePrice = df['Price'].mean()
mumOfPurchase = len(df['Purchase ID'])
totalPurchase = df['Price'].sum()

# Create a summary data frame to hold the results.
summary_data = pd.DataFrame({
    'Number of unique Items': numOfItem,
    'Average Price': '${:.2f}'.format(averagePrice),
    'Number of Purchases': mumOfPurchase,
    'Total Purchase': '${:.2f}'.format(totalPurchase)
},index=[0])


# Display the summary data frame with cleaner formatting.
summary_data.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Gender Demographics

In [5]:
# Identify unique items "SN" for Gender and drop any duplicates
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender = df.drop_duplicates(['Gender','SN'])

# maleTotal= df.loc[df['Gender'] == 'Male'].unique().sum()
# femalTotal = df.loc[df['Gender'] == 'Female'].unique().sum()
# otherTotal = df.loc[df['Gender'] == 'Other / Non-Disclosed'].unique().sum()

# Value acount each "Gender"
player_total = gender['Gender'].value_counts()


# Value count the percentage in "Gender" and "Other" by players.
percentOfPlayers = (gender['Gender'].value_counts()/players)*100


# Display the summary data frame with cleaner formatting
summary_gender = pd.DataFrame({
    #'Gender': ('Male', 'Female', 'Other / Non-Disclosed'),
    'Total Count': player_total,
    'Percentage of Players': percentOfPlayers.map('{:.2f}%'.format)
})

summary_gender.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Purchasing Analysis (Gender)

In [6]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

# Purchase count by each "Gender"
purchaseCount = df.groupby('Gender').count()['SN']

# Average Purchase Price by "Gender"
averagePurchase = df.groupby('Gender').mean()['Price']

# Ttotal Purchase Value by "Gender"
totalPurchaseValue = df.groupby('Gender').sum()['Price']

# Average Total Purchase by Person
# average_price = df.groupby('SN').mean()['Price']
avg = pd.DataFrame(df, columns=['SN', 'Price'])
avg.groupby('SN').mean().reset_index()

avgTotalPurchPerson = totalPurchaseValue / purchaseCount
#avgTotalPurchPerson = purchaseCount / avg

# Create a summary data frame to hold the results.
summary_purchase = pd.DataFrame({
    'Purchase Count': purchaseCount,
    'Average Purchase Price': averagePurchase.map('${:.2f}'.format),
    'Total Purchase Value': totalPurchaseValue.map('${:.2f}'.format),
    'Avg Total Purchase per Person': avgTotalPurchPerson.map('${:.2f}'.format)
})

# Display the summary data frame with cleaner formatting.
summary_purchase.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

#### Average per Gender

In [7]:
#average per gender
avg = pd.DataFrame(df, columns=['Gender', 'SN','Price'])
avg.groupby('Gender').mean().reset_index().style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Age Demographics

In [8]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

# Establish bins for ages
age_bins = [0, 9, 15, 18, 24, 29, 35, 45, 55]

age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# pd.cut(df["Age"], age_bins, labels=age_labels).head()

# Categorize the existing players using the age bins. Hint: use pd.cut()
df['Age Range'] =  pd.cut(df['Age'], age_bins, labels=age_labels)

# Calculate the numbers and percentages by age group
age_group = df.groupby('Age Range').SN.nunique()

# Create a summary data frame to hold the results, round the percentage column 2 decimal
# Display Age Demographics Table    
age_summary = pd.DataFrame({
    'Total Count': age_group,
    'Percentage of Players': (age_group / df.SN.nunique() * 100).map("{:.2f}%".format)
})
age_summary.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Purchasing Analysis (Age)

In [9]:
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

# Display the summary data frame
purchase_count1 = df.groupby(['Age Range']).sum()['Price']
# purchase_count

avg_price = df.groupby(['Age Range']).mean()['Price']
# avg_price

total_purch_value = df["Age Range"].value_counts()
#total_purch_value

avg_total_person = purchase_count1 / total_purch_value
# avg_total_person

# Create a summary data frame to hold the results
purchase_summary = pd.DataFrame({
    'Purchase Count': purchase_count1.map('{:.0f}'.format),
    'Average Purchase Price': avg_price.map('${:.2f}'.format),
    'Total Purchase Value': total_purch_value.map('${:.2f}'.format),
    'Avg Total per Person': avg_total_person.map('${:.2f}'.format) 
})

purchase_summary.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Top Spenders

In [10]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN, Purchase Count, Average Purchase Price, Total Purchase Value.

# count purchases made by "SN" from top to bottom
sn_purchase_count = df["SN"].value_counts()
#sn_purchase_count

# Average purchase price by "SN"
avr_purchase = df["Price"].groupby(df["SN"]).mean()
# avr_purchase

#Total purchase by each unique "SN"
sn_purchase_sum = df["Price"].groupby(df["SN"]).sum()
# sn_purchase_sum.sort_values(ascending=False)

# Create a summary data frame to hold the results, sort the total purchse value in descending order.
sn_df = pd.DataFrame({
    "Purchase Count": sn_purchase_count ,
    "Average Purchase Price": avr_purchase,
    "Total Purchase Value": sn_purchase_sum
})

#Sort total purchase in descending order and give data a cleaner formatting
sorted_data = sn_df.sort_values("Total Purchase Value", ascending= False)
sorted_data["Average Purchase Price"] = sorted_data["Average Purchase Price"].map("${:.2f}".format)
sorted_data["Total Purchase Value"] = sorted_data["Total Purchase Value"].map("${:.2f}".format)

# Display a preview of the summary data frame
sorted_data.head().style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Most Popular Items

In [15]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

# Retrieve the Item ID, Item Name, and Item Price 
item_by_ID = df.groupby(['Item ID', 'Item Name'])
item_count_by_ID = item_by_ID['Item ID'].count()
item_price = item_by_ID['Price'].mean()
total_purchase_value = item_by_ID['Price'].sum()

# Create a summary data frame to hold the results
items_summary = pd.DataFrame({
    'Purchase Count': item_count_by_ID, 
    'Item Price': item_price.map('${:,.2f}'.format),
    "Total Purchase Value": total_purchase_value.map('${:,.2f}'.format)
})

# Display a preview of the summary data frame, with purchase count in descending order
items_summary.sort_values('Purchase Count', ascending=False).head().style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

## Most Profitable Items

In [17]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):

# Create a summary data frame to hold the results
items_summary2 = pd.DataFrame({
    "Purchase Count": item_count_by_ID, 
    "Item Price": item_price.map("${:,.2f}".format),
    "Total Purchase Value": total_purchase_value
})
# Display a preview of the summary data frame, with purchase count in descending order
items_summary2 = items_summary2.sort_values('Total Purchase Value', ascending= False)
items_summary2["Total Purchase Value"]= items_summary2["Total Purchase Value"].map("${:,.2f}".format)
items_summary2.head().style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])